html,
body,
.mui-content {
	height: 100%;
	background-color: transparent;
}

ul {
	width: 170px;
	margin-top: 44px;
	margin-right: 10px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3), -1px -1px 2px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3), -1px -1px 2px rgba(0, 0, 0, .1);
	background-color: #03aa6c;
	color: #fff;
}

.mui-table-view-cell>a:not(.mui-btn).mui-active {
	background-color: #039d64;
}

.mui-table-view-cell:after {
	left: 0;
	background-color: #039d64;
}
