.mui-bar-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mui-bar-nav:after,
#course-detail p:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}

.mui-title,
a {
  color: #03aa6c;
}

.mui-scroll-wrapper {
  top: 44px;
}

#course-detail,
#course-detail p {
  font-size: 15px;
}

#course-detail p {
  position: relative;
  padding: 5px 0;
  color: #03aa6c;
}

#course-detail p:after {
  background-color: #03aa6c;
}

.course-detail-list {
  display: -webkit-flex;
  display: flex;
  padding-bottom: 20px;
}

.course-detail-list ul {
  flex: 10;
}

.course-detail-list ul:first-child {
  flex: 2;
}

.course-detail-info {
  color: #8f8f94;
}

.course-detail-list li {
  line-height: 3;
}
